$border-colour: #2222228f;
$border-colour-inactive: #2222222d;
$text-colour-inactive: #0000007c;
$text-color: #213547;
$button-hover-colour: #646cff;
$button-active-colour: #383c8b;
$cancel-hover-colour: #c90c0c;

// Tables
$table-data-background-colour: rgb(243, 243, 243);
$table-data-background-active-colour: rgb(213, 213, 213);
