@use '../../theme.scss';

.bill-panel {  
    margin: auto;
    border: 2px solid theme.$border-colour;
    border-radius: 25px;
    width: 80%;

    .bill-panel-title {
        margin-top: 2%;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    .bill-panel-cost {
        margin-top: 0%;
        padding-top: 0%;
        margin-left: 5%;
        text-align: left;
    }

    .bill-panel-metadiv {
        width: 40%;
        display: inline-block;
    }

    .bill-panel-part:hover {
        color: theme.$cancel-hover-colour;
    }

    .bill-panel-req:hover{
        color: theme.$button-hover-colour;
    }

    .bill-panel-pay {
        border: 2px solid theme.$border-colour;
        margin-bottom: 10px;

        &:hover {
            border-color: theme.$button-hover-colour;
        }
    }

    .bill-panel-pay-inactive {
        border: 2px solid theme.$border-colour-inactive;
        color: theme.$text-colour-inactive;
        margin-bottom: 10px;
    }
}